<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="errorConfiguration" class="com.pro.base.config.ErrorConfiguration"/>

    <bean id="errorController" class="com.pro.base.controller.ErrorController"/>

    <bean id="redisSessionConfig"
          class="com.pro.base.config.RedisSessionConfig"/>

    <bean id="viewPageController" class="com.pro.base.controller.ViewPageController"/>

</beans>