<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--用户权限控制aop 自己的监控配置-->
    <bean id="userPermissions" class="com.pro.base.aop.UserPermissionsAspect"/>
    <aop:config>
        <aop:aspect id="userPermissions-aspect" ref="userPermissions">
            <aop:pointcut id="UserPermissionMgr"
                          expression="(execution(public * com.base.core.web.*Controller.*(..)))&amp;&amp;(@annotation(com.pro.base.target.UserPermissions))"/>
            <aop:before method="doBefore" pointcut-ref="UserPermissionMgr"/>
        </aop:aspect>
    </aop:config>
    <!--用户权限控制aop END-->
</beans>